@charset "UTF-8";
/*s支付页*/
.pay-page{
  position: absolute;
  left:0;
  right:0;
  max-width:640px;
  min-width:320px;
  margin:auto;
  min-height:100%;
  background:#fff;
}
.pay-page .pay-title{
    font-size: 20px;
    color: #424242;
    text-align: center;
    margin-top:43px;
}
.pay-page .price{
    font-size: 26px;
    color: #f86442;
    text-align: center;
    margin-top: 21px;
}

.pay-page .account-change{
    padding:0 15px;
    margin-top:49px;
    font-size: 15px;
    color: #999;
}
.pay-page .account-change .name{
    color:#333;
    font-size:14px;
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}
.pay-page .account-change .change{
    float: right;
    font-size: 14px;
    color: #338dd7;
    margin-left: 10px;
}
.pay-page .account-change .ic{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    background: url("../image/icon-pay.png?v=0.27633") no-repeat;
}
.pay-page .account-change .ic-wx{
    width: 23px;
    height: 21px;
    background-size: 55px;
    background-position: 0 -113px;
}
.pay-page .account-change .ic-qq{
    width: 22px;
    height: 22px;
    background-size: 52px;
    background-position: -33px -49px;
}
.pay-page .account-change .ic-phone {
    width: 20px;
    height: 22px;
    background-size: 55px;
    background-position: -35px 1px;
}
.pay-page .account-change .ic-wb {
    width: 23px;
    height: 22px;
    background-size: 57px;
    background-position: -35px -28px;
}
.pay-page .account-change .ic-email {
    width: 23px;
    height: 22px;
    background-size: 60px;
    background-position: -37px -89px;
}
.pay-page .account-change .ic-renren {
    width: 23px;
    height: 22px;
    background-size: 59px;
    background-position: -35px -120px;
}
.pay-page .account-change .ic-change{
    display: inline-block;
    width: 12px;
    height: 9px;
    background: url(../image/login.png) no-repeat -27px -6px;
    background-size: 42px;
    margin-right: 5px;
    margin-left: 6px;
    vertical-align: 0px;
}
.pay-page .btn-pay-panel{
    padding:0 15px;
    margin-top:23px;
}
.pay-page .btn-pay-panel .btn-pay{
    font-size: 17px;
    color: #fff;
    display: block;
    background:#f86442;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
}
.pay-page .warm-tips{
    margin:73px 0 20px;
    padding:0 22px;
}
.pay-page .warm-tips h2{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.pay-page .warm-tips p{
    font-size: 12px;
    color: #999;
    line-height: 20px;
}
/*e支付页*/


/*s我的拼团页*/
.my-group{

}
.my-group .tab{
    background:#fff;
    overflow: hidden;
    position: relative;
}
.my-group .tab:after{
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:1px;
    background:#e8e8e8;
    transform: scale(1,0.5);
    -webkit-transform: scale(1,0.5);
}
.my-group .tab .item{
    float: left;
    width:50%;
    text-align: center;
    padding:17px;
    font-size:16px;
    color:#666;
    position: relative;
    overflow: hidden;
}
.my-group .tab .item:after{
    content:'';
    position: absolute;
    right:0;
    width:1px;
    height:30px;
    background:#e8e8e8;
    transform: scale(0.5,1);
    -webkit-transform: scale(0.5,1);
}
.my-group .tab .item:last-child:after{
    content:none;
}
.my-group .tab .item.on{
    color:#f86442;
}
.my-group .tab .item.on:before{
    content:'';
    height:2px;
    width:68px;
    background:#f86442;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.my-group{
    
}
.my-group .group-list{
    background:#fff;

}
.my-group .group-list .item{
    overflow: hidden;
    padding:20px 15px;
    position: relative;
}
.my-group .group-list .item:after{
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:1px;
    background:#e8e8e8;
    transform: scale(1,0.5);
    -webkit-transform: scale(1,0.5);
}
.my-group .group-list .item:last-child:after{
    content:none;
}
.my-group .group-list .pic{
    float:left;
    width:65px;
    height:65px;
    margin-right:10px;
}
.my-group .group-list .pic img{
    width:100%;
    height:100%;
}
.my-group .group-list .info .title{
    font-size: 16px;
    color: #333;
}
.my-group .group-list .info .status{
    font-size: 12px;
    color: #999;
    margin-top: 9px;
}
.my-group .group-list .info .theme{
    color:#f86442;
}
.my-group .group-list .btn-revoke{
    float: right;
}
.my-group .group-list .ic-revoke{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(../image/abc_ic_mygroup_cancel@2x.png) no-repeat;
    background-size:100%;
    vertical-align: middle;
}

.pop-revoke{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background:#fff;
    width:280px;
    border-radius: 5px;
}
.pop-revoke .content{
    text-align: center;
    font-size:15px;
    color:#333;
    padding:37px 38px 30px;
}
.pop-revoke .btn-panel{
    overflow: hidden;
    position: relative;
}
.pop-revoke .btn-panel:before{
    content:'';
    position: absolute;
    left:0;
    right:0;
    top:0;
    height:1px;
    background:#e8e8e8;
    transform: scale(1,0.5);
    -webkit-transform: scale(1,0.5);

}
.pop-revoke .btn-panel a{
    float: left;
    width:50%;
    text-align: center;
    padding:14px;
    font-size: 16px;
    color: #333;
    position: relative;
}
.pop-revoke .btn-panel a:after{
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 30px;
    background: #e8e8e8;
    transform: scale(0.5,1);
    -webkit-transform: scale(0.5,1);
}
.pop-revoke .btn-panel a:last-child:after{
    content:none;
}
/*e我的拼团页*/