.album {
  height: 158px;
  background: url(../image/groupbuy_initiate_Albumbg_img@2x.png) no-repeat;
  background-position: 64.8% 2px;
  background-size: contain;
}
.album .cover {
  position: relative;
  top: 50%;
  display: inline-block;
  width: 90px;
  height: 90px;
  transform: translateY(-50%);
}
.prelaunch .bg {
  background: white url(../image/recommendedalbum_bg@2x.png) 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.prelaunch .content {
  padding-top: 28px;
}
.prelaunch .main {
  margin-top: 26px;
}
.prelaunch .main .title {
  font-size: 20px;
  color: #ff7c5d;
  letter-spacing: 0;
}
.prelaunch .main .text-area {
  position: relative;
  height: 150px;
  margin: 36px 28px 28px;
}
.prelaunch .main textarea {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #cccccc;
  resize: none;
}
.prelaunch .main textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #666666;
}
.prelaunch .main .input-count {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 14px;
  color: #cccccc;
}
.prelaunch .footer {
  margin: 0 24px;
}
.prelaunch .footer .btn {
  width: 100%;
  padding: 7px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.52px;
  background: #f86442;
}
.launch {
  height: 100%;
  background: #fff;
}
.launch .content {
  background: white url(../image/groupbuy_initiate_bg@2x.png) 0 0 no-repeat;
  background-size: contain;
}
.launch .header {
  padding: 28px 0 10px;
}
.launch .header .title {
  font-size: 22px;
  color: #f86442;
}
.launch .header .sub-title {
  font-size: 14px;
  color: #999999;
}
.launch .price {
  padding: 8px 0 36px;
}
.launch .price .discount {
  font-size: 20px;
  color: #f86442;
  letter-spacing: 0.74px;
}
.launch .price .unit {
  font-size: 12px;
  letter-spacing: normal;
}
.launch .price .original {
  font-size: 12px;
  text-decoration: line-through;
  color: #666666;
  letter-spacing: 0.45px;
}
.launch .procedure {
  position: relative;
  margin: 0 40px;
}
.launch .procedure:before {
  content: '';
  position: absolute;
  top: 15px;
  right: 40px;
  left: 40px;
  height: 1px;
  transform: scaleY(0.5);
  background: #e8a190;
}
.launch .procedure .item {
  position: relative;
  display: inline-block;
  font-size: 0;
}
.launch .procedure .item:first-child {
  float: left;
}
.launch .procedure .item:last-child {
  float: right;
}
.launch .procedure .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  background-size: 100%;
}
.launch .procedure .icon.start {
  background-image: url(../image/groupbuy_initiate_ic_1@2x.png);
}
.launch .procedure .icon.processing {
  margin-right: 6px;
  background-image: url(../image/groupbuy_initiate_ic_2@2x.png);
}
.launch .procedure .icon.processing:last-of-type {
  margin-right: 0;
}
.launch .procedure .icon.avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.launch .procedure .icon.success {
  background-image: url(../image/groupbuy_initiate_ic_3@2x.png);
}
.launch .procedure .label {
  font-size: 14px;
  color: #f86442;
  letter-spacing: 0.52px;
}
.launch .notice {
  padding: 22px 22px 0;
  font-size: 12px;
  text-align: left;
  color: #999999;
  letter-spacing: 0;
  line-height: 17px;
}
.launch .notice .title {
  font-size: 14px;
  color: #666666;
}
.launch .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 45px;
  padding: 8px;
  font-size: 14px;
  letter-spacing: 0.52px;
  background: #f86442;
}
.launch .footer span {
  color: #fff;
}
.launch .footer .price {
  padding: 0;
  font-size: 20px;
  letter-spacing: 0.74px;
}
.launch .footer .unit {
  font-size: 12px;
}
.launch .footer .divider {
  display: inline-block;
  width: 1px;
  height: 15px;
  margin: 0 6px;
  background-color: #fff;
  vertical-align: text-bottom;
}
.detail {
  padding-bottom: 50px;
}
.detail .banner {
  position: relative;
  background: white url(../image/h5_bgimg@2x.png) 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.detail .banner .cover {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 140px;
  left: -22px;
}
.detail .banner .status {
  height: 58px;
  padding: 15px 0;
  background: #ffffff;
  opacity: 0.7;
}
.detail .banner .status img {
  height: 22px;
}
.detail .banner .status .tip {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  line-height: 28px;
  text-indent: 12px;
  color: #999999;
  letter-spacing: 0.17px;
  vertical-align: middle;
}
.detail .banner .status .tip:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 2px;
  height: 15px;
  background: #ccc;
}
.detail .banner .bg {
  background: transparent url(../image/attended_albumbg_img@2x.png) no-repeat;
  background-position: 0 86px;
  background-size: 265px;
  overflow: hidden;
}
.detail .banner .intro {
  padding: 12px 12px 0 200px;
  overflow: hidden;
  height: 270px;
}
.detail .banner .mine {
  float: right;
  padding: 4px 8px;
  font-size: 14px;
  color: #f86442;
  border: 1px solid #f86442;
  border-radius: 4px;
}
.detail .banner .title {
  margin: 95px 8px 0 0;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
.detail .banner .divider {
  width: 46px;
  height: 2px;
  margin: 8px 0;
  background: #cccccc;
}
.detail .banner .desc {
  margin: 0 10px 20px 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 20px;
}
.detail .banner .column {
  float: right;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background: #f86442;
  border-radius: 4px;
  vertical-align: middle;
}
.detail .banner .angle-right {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-top: -1px;
  margin-left: 4px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  vertical-align: middle;
}
.detail .banner .greetings {
  margin: 0px 15px 18px;
  padding: 20px 16px 18px;
  background: transparent url(../image/Rectangle@2x.png) no-repeat;
  background-size: 100% 100%;
}
.detail .banner .greetings h5 {
  font-size: 0;
}
.detail .banner .greetings .avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.detail .banner .greetings .label {
  font-size: 16px;
  line-height: 30px;
  color: #999;
  letter-spacing: 0.19px;
  vertical-align: middle;
}
.detail .banner .greetings .nickname {
  display: inline-block;
  margin: 0 8px 0 10px;
  color: #f86442;
}
.detail .banner .greetings .recommend {
  padding-left: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  letter-spacing: 0.17px;
}
.detail .information {
  padding-top: 25px;
  font-size: 0;
  background: #fff;
}
.detail .information .block {
  position: relative;
  display: inline-block;
  width: 34.4%;
}
.detail .information .block.center {
  width: 31.2%;
}
.detail .information .block:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  width: 2px;
  height: 26px;
  background: #e8e8e8;
}
.detail .information .label {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  letter-spacing: 0.15px;
}
.detail .information .cont {
  margin-top: 10px;
  font-size: 16px;
  color: #f86442;
  letter-spacing: 0.18px;
}
.detail .information .count-down-item {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin: 0 -4px;
  font-size: 16px;
  line-height: 28px;
  background: transparent url(../image/count_down_bg@2x.png) 0 / 100% no-repeat;
  vertical-align: middle;
}
.detail .information .unit {
  display: inline-block;
  margin-left: 4px;
  font-size: 14px;
  color: #151515;
  line-height: 18px;
}
.detail .information .line-through {
  display: inline-block;
  margin-left: 2px;
  font-size: 11px;
  line-height: 13px;
  color: #666666;
  letter-spacing: 0.41px;
  text-decoration: line-through;
}
.detail .process {
  padding: 40px 0 0;
  background: #fff;
}
.detail .process .status {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}
.detail .process .status.result {
  font-size: 14px;
  line-height: 17px;
}
.detail .process .status .count {
  display: inline-block;
  margin: 0 4px;
  font-size: 16px;
  line-height: 19px;
  color: #f86442;
  letter-spacing: 0.19px;
}
.detail .process .divider {
  width: 274px;
  height: 4px;
  margin: 0 auto;
  background: transparent url(../image/attended_splitline@2x.png) 0 / 100% no-repeat;
}
.detail .process .item {
  display: inline-block;
  width: 60px;
  margin: 20px 30px 0 0;
  font-size: 0;
}
.detail .process .item:last-child {
  margin-right: 0;
}
.detail .process .icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-bottom: 6px;
}
.detail .process .label {
  font-size: 14px;
  color: #cccccc;
  letter-spacing: 0.17px;
}
.detail .process .label.nickname {
  color: #666666;
}
.detail .notice {
  padding: 30px 22px 30px;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  letter-spacing: 0;
  color: #999999;
  background: #fff;
}
.detail .notice .title {
  font-size: 14px;
  color: #666666;
}
.detail .bottom {
  height: 0;
  padding-bottom: 37.3%;
  background: transparent url(../image/bottom_img@2x.png) 0 / 100% no-repeat;
}
.detail .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  padding-left: 14px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
}
.detail .footer .label {
  font-size: 14px;
  line-height: 50px;
  color: #F86442;
  letter-spacing: 0.17px;
}
.detail .footer .label.price {
  font-size: 18px;
  letter-spacing: 0.22px;
}
.detail .footer .line-through {
  font-size: 11px;
  line-height: 50px;
  text-decoration: line-through;
  color: #666666;
  letter-spacing: 0.41px;
}
.detail .footer .footer-button {
  float: right;
  padding: 17px 30px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;
  background: #F86442;
}
